#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createCategory_itemsInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createCategory_itemsInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Category_items $colStr VALUES $valStr", "SELECT * FROM Category_items WHERE id=$ctx.args.createCategory_itemsInput.id"]
}