.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgb(37, 204, 87);
  margin: 10px 0px;
  width: 80%;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  text-align: center;
} 

.call {
  background-color: rgb(255, 152, 105);
  margin: 10px 0px;
  width: 80%;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
}

.notCall {
  margin: 5px;
}

.notCallContainer {
  background-color: rgb(252, 196, 93);
  margin: 10px 0px;
  width: 80%;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





