.container {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.back {
    background-color: rgb(255, 152, 105);
    width: 80%;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.containerTotal {
    background-color: rgb(37, 204, 87);
    width: 80%;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin: 10px 0px;
}

.confirm, .total {
    margin: 0px;
    font-weight: 400;
}