.container {
    box-shadow: rgba(119, 119, 119, 0.8) 0px 8px 34px -25px;
    width: 80%;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.cardBody {
    display: flex;
    margin-top: -10px;
}

.imgCardDishFoodContainer {
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.imgCardDishFood {
    width: 75%;
}

.header {
    width: 100%;
}

.descriptionPrice {
    width: 70%;
}

.description {
    color: rgb(88, 88, 88);
    font-size: 12px;
}

.aggregate {
    background-color: rgb(209, 209, 209);
    color: #fff;
    border: none;
    padding: 5px;
}


.notAgreggate {
    background-color: rgb(37, 204, 87);
    color: #fff;
    border: none;
    padding: 5px;
}

