.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: flex-start;
  padding: 10px;
}

.buttonRemove {
  margin: 0px 0px 0px 5px;
  color: rgb(77, 77, 77);
  font-size: 14px;
  cursor: pointer;
}

.agreggate {
  background-color: rgb(209, 209, 209);
  color: #fff;
  border: none;
  padding: 5px;
}



.notAgreggate {
  background-color: rgb(37, 204, 87);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
