.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    align-self: flex-start;
    padding: 10px;
  }
  
.containerQuantity {
    display: flex;
    margin-top: -12px;
    align-items: center;
}

.quantity {
    font-size: 12px;
    margin-right: 5px;
}

.buttonQuantity {
    background-color: rgb(77, 77, 77);
    color: #fff;
    border: none;
    font-size: 16px;
    margin: 2px;
}